<!DOCTYPE html>
<html>
<head>
    <title>Add Credit Card</title>
</head>
<body>


<h2>Add a Credit Card</h2>

<form method="POST">
    Card Number: <input type="text" name="card_num" required><br>
    Road Name: <input type="text" name="road_name" required><br>
    Number: <input type="number" name="number" required><br>
    City: <input type="text" name="city" required><br>
    <input type="submit" value="Add Credit Card">
</form>

<p><a href="{{ url_for('client_dashboard') }}">Back to Dashboard</a></p>

</body>
</html>
