<table>
    <tr>
        <th>Rent ID</th>
        <th>Rent Date</th>
        <th>Model ID</th>
        <th>Brand</th>
        <th>Construction Year</th>
        <th>Color</th>
        <th>Driver Name</th>
    </tr>
    {% for rent in rents %}
    <tr>
        <td>{{ rent[0] }}</td>
        <td>{{ rent[1] }}</td>
        <td>{{ rent[2] }}</td>
        <td>{{ rent[3] }}</td>
        <td>{{ rent[4] }}</td>
        <td>{{ rent[5] }}</td>
        <td>{{ rent[6] }}</td>
    </tr>
    {% endfor %}
</table>
