<!DOCTYPE html>
<html>
<head>
    <title>Manager Dashboard</title>
</head>
<body>
    <h2>Manager Dashboard</h2>
    <ul>
        <li><a href="{{ url_for('add_driver') }}">Add Driver</a></li>
        <li><a href="{{ url_for('delete_driver') }}">Delete Driver</a></li>
        <li><a href="{{ url_for('add_car') }}">Add Car</a></li>
        <li><a href="{{ url_for('add_model') }}">Add Models</a></li>
        <li><a href="{{ url_for('manager_view_cars') }}">View Cars</a></li>
        <li><a href="{{ url_for('manager_view_driver_stats') }}">View Drivers</a></li>
        <li><a href="{{ url_for('client_city_match') }}">Search for Client and Driver City Relation</a></li>
        <li><a href="{{ url_for('top_clients') }}">View Top Clients</a></li>
        <li><a href="{{ url_for('manager_brand_report') }}">Car Brand Report</a></li>
        <!-- Later you can add Delete Driver, Add Car, etc. -->
    </ul>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
</body>
</html>
